In [1]:
import pandas as pd

In [3]:
emotion_df = pd.read_csv('datasets/emotion-dataset.csv')
emotion_df

        Emotion                                               Text
0       neutral                                             Why ?
1           joy    Sage Act upgrade on my to do list for tommorow.
2       sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3           joy   Such an eye ! The true hazel eye-and so brill...
4           joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...
...         ...                                                ...
34787  surprise  @MichelGW have you gift! Hope you like it! It'...
34788       joy  The world didnt give it to me..so the world MO...
34789     anger                           A man robbed me today .
34790      fear  Youu call it JEALOUSY, I call it of #Losing YO...
34791   sadness  I think about you baby, and I dream about you ...

[34792 rows x 2 columns]

In [4]:
tweet_df = pd.read_csv('datasets/tweet_emotions.csv')
tweet_df

,tweet_id,sentiment,content
0,1956967341,empty,@tiffanylue i know i was listenin to bad habi...
1,1956967666,sadness,Layin n bed with a headache ughhhh...waitin o...
2,1956967696,sadness,Funeral ceremony...gloomy friday...
3,1956967789,enthusiasm,wants to hang out with friends SOON!
4,1956968416,neutral,@dannycastillo We want to trade with someone w...
...,...,...,...
39995,1753918954,neutral,@JohnLloydTaylor
39996,1753919001,love,Happy Mothers Day All my love
39997,1753919005,love,Happy Mother's Day to all the mommies out ther...
39998,1753919043,happiness,@niariley WASSUP BEAUTIFUL!!! FOLLOW ME!! PEE...
39999,1753919049,love,@mopedronin bullet train from tokyo the gf ...

In [5]:
emotion_df['Emotion'].unique()

array(['neutral', 'joy', 'sadness', 'fear', 'surprise', 'anger', 'shame',
       'disgust'], dtype=object)

In [6]:
tweet_df['sentiment'].unique()

array(['empty', 'sadness', 'enthusiasm', 'neutral', 'worry', 'surprise',
       'love', 'fun', 'hate', 'happiness', 'boredom', 'relief', 'anger'],
      dtype=object)

In [7]:
extracted_tweet_df = tweet_df[['sentiment', 'content']]
extracted_tweet_df

        sentiment                                            content
0           empty  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [11]:
extracted_tweet_df_renamed = extracted_tweet_df.rename(columns = {'sentiment':'Emotion', 'content':'Text'})
extracted_tweet_df_renamed

          Emotion                                               Text
0           empty  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [44]:
merged_df = pd.concat([emotion_df, extracted_tweet_df_renamed])
merged_df

         Emotion                                               Text
0        neutral                                             Why ?
1            joy    Sage Act upgrade on my to do list for tommorow.
2        sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3            joy   Such an eye ! The true hazel eye-and so brill...
4            joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...
...          ...                                                ...
39995    neutral                                   @JohnLloydTaylor
39996       love                     Happy Mothers Day  All my love
39997       love  Happy Mother's Day to all the mommies out ther...
39998  happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999       love  @mopedronin bullet train from tokyo    the gf ...

[74792 rows x 2 columns]

In [45]:
merged_df = merged_df.loc[merged_df['Emotion']!='neutral']
merged_df

         Emotion                                               Text
1            joy    Sage Act upgrade on my to do list for tommorow.
2        sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
3            joy   Such an eye ! The true hazel eye-and so brill...
4            joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...
5           fear  I'm expecting an extremely important phonecall...
...          ...                                                ...
39994  happiness                      Succesfully following Tayla!!
39996       love                     Happy Mothers Day  All my love
39997       love  Happy Mother's Day to all the mommies out ther...
39998  happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999       love  @mopedronin bullet train from tokyo    the gf ...

[63900 rows x 2 columns]

In [46]:
merged_df.to_csv(path_or_buf = 'datasets/merged.csv', columns = ['Emotion', 'Text'],
                 index = False)

In [49]:
df = pd.read_csv('datasets/merged.csv')
df

         Emotion                                               Text
0            joy    Sage Act upgrade on my to do list for tommorow.
1        sadness  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
2            joy   Such an eye ! The true hazel eye-and so brill...
3            joy  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...
4           fear  I'm expecting an extremely important phonecall...
...          ...                                                ...
63895  happiness                      Succesfully following Tayla!!
63896       love                     Happy Mothers Day  All my love
63897       love  Happy Mother's Day to all the mommies out ther...
63898  happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
63899       love  @mopedronin bullet train from tokyo    the gf ...

[63900 rows x 2 columns]

In [50]:
df['Emotion'].unique()

array(['joy', 'sadness', 'fear', 'surprise', 'anger', 'shame', 'disgust',
       'empty', 'enthusiasm', 'worry', 'love', 'fun', 'hate', 'happiness',
       'boredom', 'relief'], dtype=object)

In [55]:
df['Emotion'].value_counts()

sadness       11887
joy           11045
worry          8459
surprise       6249
fear           5410
happiness      5209
anger          4407
love           3842
fun            1776
relief         1526
hate           1323
disgust         856
empty           827
enthusiasm      759
boredom         179
shame           146
Name: Emotion, dtype: int64

In [56]:
df_binary = df.replace(['joy', 'surprise', 'enthusiasm', 'love', 'fun', 'happiness', 'relief'],'positive')
df_binary = df_binary.replace(['sadness', 'fear', 'anger', 'shame', 'disgust', 'empty', 'worry', 'hate', 'boredom'], 'negative')
df_binary

        Emotion                                               Text
0      positive    Sage Act upgrade on my to do list for tommorow.
1      negative  ON THE WAY TO MY HOMEGIRL BABY FUNERAL!!! MAN ...
2      positive   Such an eye ! The true hazel eye-and so brill...
3      positive  @Iluvmiasantos ugh babe.. hugggzzz for u .!  b...
4      negative  I'm expecting an extremely important phonecall...
...         ...                                                ...
63895  positive                      Succesfully following Tayla!!
63896  positive                     Happy Mothers Day  All my love
63897  positive  Happy Mother's Day to all the mommies out ther...
63898  positive  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
63899  positive  @mopedronin bullet train from tokyo    the gf ...

[63900 rows x 2 columns]

In [57]:
df_binary['Emotion'].value_counts()

negative    33494
positive    30406
Name: Emotion, dtype: int64

In [58]:
df_binary.to_csv(path_or_buf = 'datasets/binary-sentiment.csv', columns = ['Emotion', 'Text'],
                 index = False)